{% extends 'loans_admin/base.html' %}
{% block title %}Loans{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block testimonials_section%}{% endblock %}

{% block hero %}{% endblock %}
{% block services_section %}{% endblock %}
{% block counts_section %}{% endblock %}
{% block pricing_section %}{% endblock %}
{% block team_section %}{% endblock %}

{% block portfolio_section %}

    {% if re_enter_message %}
        <!--Loan re-approval Modal-->
            <div class="modal fade show" id="loanPaymentMode{{ loan.id }}" tabindex="-1" aria-labelledby="loanPaymentMode{{ loan.id }}" style="display: block; padding-right: 17px;" aria-modal="true" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="loanPaymentModelTitle">Loan {{ loan.get_loan_id }} Payment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" action="" id="{{ loan.id }}">
                                {% csrf_token %}
                            <div class="modal-body" id="modalBody">
                                <p class="text-danger"><strong>{{ re_enter_message }}</strong></p>
                                    <label for="{{ loan_id }}">Enter Payment Amount:<span class="asteriskField">*</span></label>
                                    <input placeholder="Enter Amount" required class="form-control" id="{{ loan.id }}"
                                           name="amount" step="any" type="number" max="{{ balance }}" value="{{ amount }}">
                                <br>
                                <input type="hidden" name="loan_id" value="{{ loan_id }}">
                                <input type="hidden" name="payment_type" value="{{ payment_type }}">
                                <input type="hidden" name="confirm_re_pay" value="true">


                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-secondary" href="{% url 'loans_admin:active_loans' %}">Cancel</a>
                                <button type="submit" class="btn btn-warning" id="confirmLoan">Yes, I Know What I am Doing</button>
                             </div>
                            </form>
                        </div>
                 </div>
             </div>`
    {% endif %}


    {% if loans %}
        {% for loan in loans %}
            <!-- Modals for loans -->
                 <!--Loan approval Modal-->
                 <div class="modal fade" id="loanPaymentModel{{ loan.id }}" tabindex="-1" role="dialog" aria-labelledby="loanPaymentModel{{ loan.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="loanPaymentModelTitle">Loan {{ loan.get_loan_id }} Payment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" action="" id="{{ loan.id }}">
                                {% csrf_token %}
                            <div class="modal-body" id="modalBody">
                                    <label for="{{ loan.id }}">Enter Payment Amount:<span class="asteriskField">*</span></label>
                                    <input placeholder="Enter Amount" required class="form-control" id="{{ loan.id }}" name="amount" step="any" type="number" max="{{ loan.get_balance }}">
                                <br>
                                    <div id="div_id_payment_type" class="form-group">
                                        <label for="id_payment_type" class="requiredField">
                                            Paid By:<span class="asteriskField">*</span>
                                        </label>
                                        <div class="">
                                        <select name="payment_type" class="select form-control" id="id_payment_type">
                                            <option value="1" selected="">Cash</option> <option value="2">Mobile Money</option>
                                        </select>
                                        <small id="hint_id_payment_type" class="form-text text-muted">What Mode Of Payment Was Used</small>
                                    </div>
                                    </div>
                                    <input type="hidden" name="loan_id" value="{{ loan.id }}">


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="confirmLoan">Make Payment</button>
                             </div>
                            </form>
                        </div>
                 </div>
             </div>

            <!--Loan Detail Modal-->
            <div class="modal fade" id="loanDetail{{ loan.id }}" tabindex="-1" role="dialog" aria-labelledby="loanDetail{{ loan.id }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="depositInstructionTitle">Loan Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">
                <p>{{ loan.customer }}<br>{{ loan.customer.phone }} <a class="text-dark" href="tel:{{ loan.customer.phone }}"><span>&phone;</span></a><br>{{ loan.customer.address }}</p>
                <p>Loan Payments</p>
                {% if loan.loanpayment_set.all|length > 0 %}
                     <div class="table-responsive">
                         <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>

                            <tbody id="inv_tbody">
                            {% for payment in loan.loanpayment_set.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ payment.amount | floatformat:2 }}</td>
                                    <td>{{ payment.date }}</td>
                                    <td>{{ payment.balance | floatformat:2 }}</td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="row">
                 <div class="col-md-auto col-lg-12 col-sm-12 text-center">
                    <div>
                        <h5 class="text-danger">There Are No Payments For This Loan</h5>
                    </div>
                 </div>
             </div>
                {% endif %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
                 </div>
            </div>

        </div>
     </div>
        {% endfor %}
    {% endif %}
    <!-- End The Modals-->

    <section id="services" class="services "></section>
     <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3>Loans</h3>
            <small>✻ Active Loans List for {{ request.user.station }}✻ <br>{{ request.user.get_full_name }}</small>
          </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
              {% include 'partials/messages.html' %}
          </div>
        </div>


         {% if loans %}
             {% for loan in loans %}
                 <div class="row {% if loan.is_past_due %}text-danger{% endif %}" id="{{ loan.id }}">
                  <div class="col-md-12">
                    <div class="card demo icon">
                      <div class="card-header">
                        <h5 class="card-title">{{ loan.customer }}</h5>
                        <h6 class="card-category">
                            <strong>
                                Loan ID: {{ loan.get_loan_id }}<br>
                            Loan Amount:  {{ loan.amount | floatformat:2 }}<br>
                            Amount To Pay: K {{ loan.get_total_amount | floatformat:2 }}<br>
                                Amount Paid: K {{ loan.get_total_payments  | floatformat:2 }}<br>
                                Balance: K {{ loan.get_balance | floatformat:2 }}<br>
                            Application Date: {{ loan.application_date }}<br>
                                Issue Date: {{ loan.issue_date }}<br>
                                Due Date: {{ loan.due_date }}<br>
                            Rate: {{ loan.get_interest_percentage }}<br>
                            Term: {{ loan.get_term_display }}<br>
                            Payments: {{ loan.get_payment_frequency_display }}
                            </strong>

                        </h6>
                      </div>
                    <div class="card-footer">
                        <button data-toggle="modal" data-target="#loanPaymentModel{{ loan.id }}" class="btn btn-primary">Make Payment</button><!--MODEL-->
                        <button data-toggle="modal" data-target="#loanDetail{{ loan.id }}" class="btn btn-info">Details</button><!--modal-->
                        <a href="#" class="btn btn-warning">Update</a>
                    </div>
                    </div>
                  </div>
                 </div><br>
             {% endfor %}
         {% else %}
             <div class="row" data-aos="fade-up" data-aos-delay="100">
                  <div class="col-lg-12 d-flex justify-content-center">
                      <h5 class="text-danger">You Have No Active Loans Yet...</h5>
                  </div>
                </div>

            {% endif %}


        </div>


    </section><!-- End Portfolio Section -->
    <section class="services"></section>
    {% endblock portfolio_section %}

{% block javascript %}
    <script src="{% static 'investor/js/strive.js' %}" type="module"></script>
{% endblock %}

{% block about_section %}{% endblock %}
{% block tabs_section %}{% endblock %}
{% block clients_section %}{% endblock %}
{% block faq %}{% endblock %}
{% block contact_section %}{% endblock %}
{% block footer %}{% endblock %}