{% extends 'loans_admin/base.html' %}
{% block title %}Month Summary Details{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block testimonials_section%}{% endblock %}

{% block hero %}{% endblock %}
{% block services_section %}{% endblock %}
{% block counts_section %}{% endblock %}
{% block pricing_section %}{% endblock %}
{% block team_section %}{% endblock %}



{% block portfolio_section %}
    <section id="services" class="services "></section>

     <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3>Summary</h3>
            <small>✻ Monthly Summary Of Business ✻ <br>{{ request.user.get_full_name }} | {{ request.user.station }}</small>
          </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
              {% include 'partials/messages.html' %}

          </div>
        </div>

         <div class="row">

          <div class="col-md-12">
            <div class="card demo-icons">
              <div class="card-header">
                <h5 class="card-title">Loans Issued </h5>
                  <p class="card-category">List of all Issued Loans For {{ month_name }} {{ year }}</p>
              </div>
               <div class="card-body">
                   {% if loans_list %}
                       <div class="table-responsive">
				<table class="table table-striped">
                    <thead>
						<tr>
							<th>No.</th>
                            <th>Customer</th>
							<th>Amount</th>
							<th>Amount To Pay</th>
						</tr>
					</thead>

					<tbody id="inv_tbody">
                    {% for loan in loans_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
							<td>{{ loan.customer }}</td>
                            <td>{{ loan.amount }}</td>
							<td>{{ loan.get_total_amount}}</td>
						</tr>

                    {% endfor %}
					</tbody>
				</table>
			</div>
                   {% else %}

                       <div class="col-md-auto col-lg-12 col-sm-12 text-center">
                            <div>
                                <h5 class="text-info">You Have Not Issued Any Loans {{ month_name }} {{ year }}</h5>
                            </div>
                         </div>
                   {% endif %}
               </div>

                <p class="card-footer">
                   <strong>Total Pending: K {{ total_pending_loans }}</strong> <br>
                    <strong>Total Approved: K {{ total_active_loans }}</strong>
                </p>
            </div>
          </div>

         </div>

        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="card demo-icons">
              <div class="card-header">
                <h5 class="card-title">Loan Payments</h5>
                  <p class="card-category"><strong>Total: K {{ total_payments }}</strong></p>
              </div>
                <div class="card-body">
                {% if payment_list %}
                    <div class="table-responsive">
                         <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Amount</th>
                                    <th>Customer</th>
                                    <th>Date</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>

                            <tbody id="inv_tbody">
                            {% for payment in payment_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ payment.amount | floatformat:2 }}</td>
                                    <td>{{ payment.loan.customer }}</td>
                                    <td>{{ payment.date }}</td>
                                    <td>{{ payment.balance | floatformat:2 }}</td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="col-md-auto col-lg-12 col-sm-12 text-center">
                <div>
                    <h5 class="text-info">You Have No Payments For {{ month_name }} {{ year }}</h5>
                </div>
             </div>
                {% endif %}
                </div>

            </div>
          </div>

        </div>

      <br>
      <div class="row">
          <div class="col-md-12">
            <div class="card demo-icons">
              <div class="card-header">
                <h5 class="card-title">Expenses</h5>
                  <p class="card-category">Expenses Paid For {{ month_name }} {{ year }}<br>
                      <strong>Total: K {{ total_expenditure }}</strong><br>
                  </p>
              </div>
                <div class="card-body">
                {% if expenses_list %}
                    <div class="table-responsive">
				<table class="table table-striped">
                    <thead>
						<tr>
							<th>No.</th>
							<th>Amount</th>
							<th>Details</th>
							<th>Recorded By</th>
						</tr>
					</thead>

					<tbody id="inv_tbody">
                    {% for expense in expenses_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
							<td>{{ expense.amount }}</td>
							<td>{{ expense.description }}</td>
                            <td>{{ expense.user }}</td>
						</tr>

                    {% endfor %}
					</tbody>
				</table>
			</div>
                {% else %}
                    <div class="col-md-auto col-lg-12 col-sm-12 text-center">
                <div>
                    <h5 class="text-info">There Are No Expenses For {{ month_name }} {{ year }}</h5>
                </div>
             </div>
                {% endif %}
                </div>

            </div>
          </div>
        </div>

      <br>

      <div class="row">
          <div class="col-md-12">
            <div class="card demo-icons">
              <div class="card-header">
                <h5 class="card-title">Status As Of {{ month_name }} {{ year }}</h5>
              </div>
                <div class="card-body">
                    <strong>Total Lent Out: K {{ total_active_loans }}</strong><br>
                    <strong>Total Recovered: K {{ total_payments }}</strong><br>
                    <strong>Total Profit: K {{ total_profits }}</strong>

                </div>

            </div>
          </div>

        </div>
      </div>
          <hr>

    </section><!-- End Portfolio Section -->

    <section class="services"></section>

    {% endblock portfolio_section %}

{% block about_section %}{% endblock %}
{% block tabs_section %}{% endblock %}
{% block clients_section %}{% endblock %}
{% block faq %}{% endblock %}
{% block contact_section %}{% endblock %}
{% block footer %}{% endblock %}