{% extends 'presento/base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block testimonials_section%}{% endblock %}

{% block hero %}{% endblock %}
{% block services_section %}{% endblock %}
{% block counts_section %}{% endblock %}
{% block pricing_section %}{% endblock %}
{% block team_section %}{% endblock %}

{% block who_we_are %}
    Account RoundUp
    actual balance
    available balance
{% endblock %}

{% block portfolio_section %}
    <section id="services" class="services "></section>
     <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3>Strive Dashboard</h3>
            <small>✻ Overview of your Strive account ✻ <br>{{ request.user.get_full_name }}</small>
          </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
              {% include 'partials/messages.html' %}

          </div>
        </div>

         <div class="row">

          <div class="col-md-6">
            <div class="card demo-icons">
              <div class="card-header">
                <h5 class="card-title">Savings <a href="{% url 'investor:savings' %}" aria-expanded="false" aria-controls="unpaid"><small>Details</small></a></h5>
                  <p class="card-category">Let Your Money Work For You By Saving and earning interest.</p>
                <p class="card-footer">
                   <strong>K {{ savings }}</strong> <br>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card demo-icons">
              <div class="card-header">
                <h5 class="card-title">Loans <a href="{% url 'loans:home' %}" aria-expanded="false" aria-controls="unpaid"><small>Details</small></a></h5>
                  <p class="card-category">Get an easy loan to help financing a venture.</p>
                <p class="card-footer">
                    <strong>K {{ loans }}</strong><br>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
          <hr>

    </section><!-- End Portfolio Section -->
    <section class="services"></section>

    {% endblock portfolio_section %}

{% block about_section %}{% endblock %}
{% block tabs_section %}{% endblock %}
{% block clients_section %}{% endblock %}
{% block faq %}{% endblock %}
{% block contact_section %}{% endblock %}
{% block footer %}{% endblock %}