{% extends 'investor/freebie.html' %}
{% block title %}Strive!{% endblock %}
{% load static %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
        <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
        <div class="container">
            <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a href="#" class="navbar-brand">
                    Strive!
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right navbar-uppercase">
                    <li>
                        <a href="http://www.creative-tim.com/product/gaia-bootstrap-template-pro" target="_blank">Get Help</a>
                    </li>
                    <li class="dropdown">
                        <a href="#gaia" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-share-alt"></i> Share
                        </a>
                        <ul class="dropdown-menu dropdown-danger">
                            <li>
                                <a href="#"><i class="fa fa-facebook-square"></i> Facebook</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'investor:user_login' %}" class="btn btn-danger btn-fill">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    {% endblock navbar %}

{% block hero %}
    <div class="section section-header">
        <div class="parallax filter filter-color-red">
            <div class="image"
                style="background-image: url('{% static 'investor/landing/assets/img/header-1.jpeg' %}')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <p>Life Starts Now</p>
                        <h1 class="title-modern">Strive</h1>
                        <h2>Your Road To Financial Freedom Starts Here...</h2>
                        <div class="separator line-separator">♦</div>
                    </div>

                    <div class="button-get-started">
                        <a href="{% url 'investor:user_create' %}" class="btn btn-white btn-fill btn-lg ">
                            Get Started
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endblock hero %}

{% block services %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h2>Our Services</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">We promise you a new look and more importantly, a new attitude. We build that by getting to know you, your needs and creating the best looking clothes.</p>
                </div>
            </div>
            <div class="row">
                <!--<div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-graph1"></i>
                        </div>
                        <h3>Investor Programme</h3>
                        <p class="description">Stake your money with us and enjoy competitive returns on your deposits at an Annual Percentage Yield(APY) that gives traditional banks a run for their money</p>
                    </div>
                </div>-->

                <div class="col-md-2"></div>

                <!--<div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-cash"></i>
                        </div>
                        <h3>Savings Programme</h3>
                        <p class="description">We help you take your business to greater heights by offering funding for business expansions to help your business compete on the grand stage</p>
                    </div>
                </div> -->
                <div class="col-md-8">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-credit"></i>
                        </div>
                        <h3>Lending Programme</h3>
                        <p class="description">Easy access to funds for users who are looking for a short term lending option.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock services %}

{% block testimonials %}{% endblock %}